#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lumi_rgb: lumi_rgb {
            compatible = "zmk,behavior-lumi-rgb";
            #binding-cells = <1>;
            display-name = "Lumi RGB";
        };

        lumi_action: lumi_action {
            compatible = "zmk,behavior-lumi-action";
            #binding-cells = <1>;
            display-name = "Lumi Action";
        };
    };

    // Hold these two keys together to unlock ZMK Studio:
    // physical key 1 (COPY/PLAY/UNDO) + physical key 12 (ESC).
    combos {
        compatible = "zmk,combos";

        studio_unlock_combo {
            timeout-ms = <80>;
            key-positions = <0 11>;
            bindings = <&studio_unlock>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        office { // Layer 0
            display-name = "OFFICE";
            bindings = <
                &kp LC(C)      &kp LC(V)      &kp LC(X)
                &kp LC(Z)      &kp LC(Y)      &kp LC(A)
                &kp LC(S)      &kp LC(F)      &kp ENTER
                &kp BACKSPACE  &kp TAB        &kp ESC
                &to 1
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        media { // Layer 1
            display-name = "MEDIA";
            bindings = <
                &kp C_PLAY_PAUSE  &kp C_PREVIOUS   &kp C_NEXT
                &kp C_MUTE        &kp C_VOL_DN     &kp C_VOL_UP
                &kp C_AC_BACK     &kp C_AC_FORWARD &kp HOME
                &kp END           &kp PG_UP        &kp PG_DN
                &to 2
            >;
            sensor-bindings = <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        fusion360 { // Layer 2
            display-name = "FUSION 360";
            bindings = <
                &kp LC(Z)  &kp LC(Y)  &kp LC(S)
                &kp LC(C)  &kp LC(V)  &kp DELETE
                &kp F      &kp V      &kp M
                &kp E      &kp L      &kp ESC
                &to 3
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        custom4 { // Layer 3
            display-name = "CUSTOM 4";
            bindings = <
                &kp F1     &kp F2     &kp F3
                &kp F4     &kp F5     &kp F6
                &kp F7     &kp F8     &kp F9
                &kp F10    &kp F11    &kp F12
                &to 4
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        custom5 { // Layer 4
            display-name = "CUSTOM 5";
            bindings = <
                &kp N1     &kp N2     &kp N3
                &kp N4     &kp N5     &kp N6
                &kp N7     &kp N8     &kp N9
                &kp N0     &kp MINUS  &kp EQUAL
                &to 0
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
